body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  position: relative;
  width: 800px;
  height: 800px;
  border: 3px solid;
}

.bg {
  /* background-color: red; */
  position: absolute; /* 相对于 game-container 定位 */
  inset: 0;
}

.top{
  width: 800px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size: 30px;
  font-weight: bold;
}

.message-container-btns {
  display: flex;

  margin-bottom: 10px;
}

.start-btn,
.pause-btn,
.reset-btn {
  margin: 0 5px;
  padding: 3px 10px;
  cursor: pointer;
}

.pause-overlay{
  background: rgba(0,0,0,0.35);
  opacity: 0;
  position: absolute; /* 相对于 game-container 定位 */
  inset: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-overlay .pause-overlay-context{
  font-size: 100px;
  color: black;
}