body{
    display: flex;
    justify-content: center;
}

#gameContainer{
    position: relative;
    width: 800px;
    height: 800px;

    border: 3px solid;
}

#bg{
  /* background-color: red; */
  position: absolute;  /* 相对于 gameContainer 定位 */
  top: 0;
  left: 0;
}